aioch==0.0.2
alembic==1.7.5
amqp==2.5.2
antiorm==1.2.1
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.3.2
async-generator==1.10
attrs==21.4.0
backoff==1.6.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.8.2
billiard==3.6.3.0
blinker==1.4
blis==0.7.5
Brlapi==0.7.0
catalogue==2.0.6
celery==4.4.2
celery-redbeat==2.0.0
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
clear-cache==1.0.0
click==8.0.3
clickhouse-driver==0.2.1
clickhouse-pool==0.5.3
colorama==0.4.3
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
connect-mongo==1.0.2
connect-mongodb==0.0.1
cryptography==3.4.7
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.6
db==0.1.1
dbus-python==1.2.16
defer==1.0.6
defusedxml==0.6.0
Deprecated==1.2.13
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==3.2.5
django-axes==5.9.0
django-bootstrap-form==3.4
django-browserid==2.0.2
django-classy-tags==2.0.0
django-connect-mongo==1.14.0
django-constance==2.8.0
django-cors-headers==3.5.0
django-deprecate-fields==0.1.1
django-djmongo==0.7.9.4
django-extensions==3.1.2
django-filter==2.4.0
django-ipware==3.0.2
django-localflavor==3.1
django-loginas==0.3.9
django-markdown-deux==1.0.5
django-missing==1.1.0
django-mongo-auth==0.1.3
django-mongo-cache==0.1
django-mongo-connection==0.0.2
django-oauth-toolkit==1.6.1
django-picklefield==3.0.1
django-psycopg2-extension==0.1.1
django-redis==4.12.1
django-rest-hooks==1.6.0
django-sekizai==2.0.0
django-statsd==2.5.2
django-structlog==2.1.3
django-widget-tweaks==1.4.9
djangorestframework==3.12.2
djangorestframework-csv==2.1.0
djongo==1.3.6
dnspython==2.1.0
drf-exceptions-hog==0.1.0
drf-extensions==0.7.0
drf-spectacular==0.21.1
email-validator==1.1.3
entrypoints==0.3
fastai==2.5.3
fastcore==1.3.27
fastdownload==0.0.5
fastprogress==1.0.0
filelock==3.0.12
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==4.1.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
fonttools==4.28.5
future==0.18.2
greenlet==1.1.2
grpcio==1.33.1
gunicorn==20.1.0
h11==0.13.0
Hello-fastai==0.0.3
httplib2==0.14.0
idna==2.8
ifaddr==0.1.6
IMDbPY==6.8
importlib-metadata==1.6.0
importlib-resources==5.4.0
infi.clickhouse-orm==2.1.0.post15
inflection==0.5.1
iso8601==0.1.12
itsdangerous==2.0.1
jdt==0.5.5
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jwcrypto==1.0
kafka-helper==0.2
kafka-python==2.0.2
keyring==18.0.1
kiwisolver==1.3.2
kombu==4.6.8
langcodes==3.3.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
ldap3==2.9.1
louis==3.12.0
lxml==4.7.1
lzstring==1.0.4
macaroonbakery==1.3.1
Mako==1.1.0
markdown2==2.4.2
MarkupSafe==2.0.1
matplotlib==3.5.1
mongoengine==0.23.1
monotonic==1.5
more-itertools==4.2.0
murmurhash==1.0.6
ndjson==0.3.1
nemo-emblems==5.0.0
netaddr==0.7.19
netifaces==0.10.4
numpy==1.21.4
oauthlib==3.1.0
onboard==1.4.1
outcome==1.1.0
packaging==20.3
PAM==0.4.2
pandas==1.3.5
paramiko==2.9.1
parso==0.8.1
passlib==1.7.2
pathy==0.6.1
pexpect==4.7.0
pgadmin4==4.23
pickleshare==0.7.5
Pillow==7.0.0
posthoganalytics==1.4.4
preshed==3.0.6
protobuf==3.13.0
psutil==5.9.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.8.2
Pygments==2.11.2
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==2.1.0
pymacaroons==0.13.0
pymongo==3.9.0
PyNaCl==1.3.0
pyOpenSSL==22.0.0
pyparsing==2.4.6
pyparted==3.11.2
pyRFC3339==1.1
pyrsistent==0.18.1
pysftp==0.2.9
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-magic==0.4.16
python-statsd==2.1.0
python-stdnum==1.17
python-xapp==2.2.1
python-xlib==0.23
python3-openid==3.1.0
pytz==2021.1
pyxdg==0.26
PyYAML==6.0
redis==3.4.1
reportlab==3.5.34
requests==2.25.1
requests-file==1.4.3
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rich==11.0.0
scikit-learn==1.0.2
scipy==1.7.3
SecretStorage==2.3.1
selenium==4.1.3
semantic-version==2.8.5
sentry-sdk==1.3.1
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
smart-open==5.2.1
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
sortedcontainers==2.4.0
soupsieve==1.9.5
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
speaklater==1.3
SQLAlchemy==1.4.31
sqlparse==0.3.0
srsly==2.4.2
sshtunnel==0.4.0
statshog==1.0.6
structlog==21.2.0
systemd-python==234
tenacity==6.1.0
thinc==8.0.13
threadpoolctl==3.0.0
tinycss2==1.0.2
tldextract==2.2.1
torch==1.10.1
torchvision==0.11.2
toronado==0.1.0
tqdm==4.62.3
trio==0.20.0
trio-websocket==0.9.2
tweepy==4.4.0
typer==0.4.0
typing-extensions==4.0.1
tzlocal==2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unicodecsv==0.14.1
Unidecode==1.1.1
uritemplate==4.1.1
urllib3==1.26.5
vine==1.3.0
virtualenv==20.0.17
wadllib==1.3.3
wasabi==0.9.0
webencodings==0.5.1
Werkzeug==2.0.2
whitenoise==5.2.0
wrapt==1.13.3
wsproto==1.1.0
WTForms==2.2.1
xkit==0.0.0
youtube-dl==2021.4.26
zipp==3.1.0
