<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static '/admin/css/main.css' %}">
    <script>
        function loadContent() {
            var loadB = document.getElementById("loadContentButton");
            loadB.style.display = "none";

            var elements = document.getElementsByClassName("morecontent");
            for(var i=0; i<elements.length; i++){
                elements[i].style.display = "block";
            }
        }
    </script>
    <title>RateZone - {{dept_name}}</title>
</head>
<body class="px-5 pt-2 pb-6
text-xs sm:text-base lg:text-lg">
    {% include 'header.html' %}

    <div class="mt-6 sm:px-10 md:px-14">
        <section>
            <div class="md:flex md:gap-x-6 md:justify-between md:items-center">
                <div class="ml-3">
                    <span class="font-semibold
                    text-xl md:text-2xl mb-2">
                        {{dept_name}} Department<br>
                        Kuwait University
                    </span>
                </div>

                <div class="mt-3 md:mt-0">
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg"
                    onclick="location.href = '{% url  'rate' item='dept' id=department %}';" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Rate {{dept_name}} Department
                    </button>
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg"
                    onclick="location.href = '#';" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                        Follow Updates
                    </button>
                </div>
            </div>

            <div class="mt-4 md:mt-6 px-10 py-3
            text-center rounded-md bg-neutral-200">
                <div class="mb-3">
                    Administrative Support
                    <p class="font-bold text-xl lg:text-3xl">{{admin_support}}/5</p>
                </div>

                <div class="mb-3">
                    Department's and Club's Activities
                    <p class="font-bold text-xl lg:text-3xl">{{activities}}/5</p>
                </div>

                <div>
                    Overall Rating
                    <p class="font-bold text-xl lg:text-3xl">{{overall_rating}}/5</p>
                    <p class="mt-4">based on <span class="font-semibold">{{rev_count}}</span> total votes from students.</p>
                </div>
            </div>
        </section>

        <section>
            <p class="mt-16 mb-6">{{rev_count}} Total student Reviews</p>

            <div class="lg:w-9/12">
                {% for r in reviews %}
                <div class="-mt-3.5 mb-6 py-4 px-4 sm:px-8 lg:px-14
                border border-neutral-300 rounded-lg">
                    <p>{{r.student_thoughts}}</p>
                    <div class="flex justify-between gap-x-14 items-center mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                        </svg>
                        <div class="flex gap-x-7 justify-end items-center">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                </svg>
                                <span class="ml-1">{{r.upvotes | default_if_none:"0"}}</span>
                            </div>
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
                                </svg>
                                <span class="ml-1">{{r.downvotes | default_if_none:"0"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>
