<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href=" {% static '/admin/css/main.css' %}">
    <script>
        function loadContent() {
            var loadB = document.getElementById("loadContentButton");
            loadB.style.display = "none";

            var elements = document.getElementsByClassName("morecontent");
            for(var i=0; i<elements.length; i++){
                elements[i].style.display = "block";
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/admin/js/queue.js' %}"></script>


    <!-- <title>RMP</title> -->
</head>
<body class="px-5 pt-2 pb-6
text-xs sm:text-base lg:text-lg">
    {% include 'header.html' %}

    <div class="mt-6 sm:px-10 md:px-14">
        <section>
            <div class="md:flex md:gap-x-6 md:justify-between md:items-center">
                {% for p in prof %}
                <div class="ml-3 flex gap-x-3 items-center">
                    {% if p.image %}
                        <img src="{{ p.image }}" alt="P_image" class="inline rounded h-40">
                    {% else %}
                        <img src="{{ p.image }}" alt="Image N/A" class="inline rounded h-40">
                    {% endif %}
                    <div>
                        <span class="font-semibold
                        text-xl md:text-2xl mb-2">
                            {{ p.fname }} {{ p.lname }}
                        </span><br>
                        <span>
                            Kuwait University<br>
                            {{ p.dept_name}} department
                        </span>
                    </div>
                </div>

                <!-- <div class="mt-4 mb-3 md:mt-0 md:mb-0 md:py-20
                bg-[#154854] text-white text-center py-2 px-4 rounded-lg">
                    Recommended by 89% of students
                </div> -->
<!--onclick="location.href = `{% url 'queue' prof_id=p.faculty_id %}`;"                -->
    {% if user.is_authenticated %}
                <div class="mt-3 md:mt-0">
                    <button id="addP-to-queue" value="{{ p.faculty_id }}" class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Add Professor {{ p.lname }} to My Queue
                    </button>
                    {% csrf_token %}
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg"
                    onclick="location.href = `{% url 'rate' prof_id=p.faculty_id %}`;" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Rate Professor {{ p.lname }}
                    </button>
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg"
                    onclick="location.href = '#';" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                        Follow Updates
                    </button>
                </div>
    {% else %}
                <div class="mt-3 md:mt-0">
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Add Professor {{ p.lname }} to My Queue
                    </button>
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg" onclick="location.href = `{% url 'sign_in' %}`;" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Rate Professor {{ p.lname }}
                    </button>
                    <button class="mb-3 py-2 px-4 w-full
                    flex gap-x-2 items-center text-left
                    hover:bg-neutral-300 border border-neutral-300 rounded-lg"
                    onclick="location.href = '#';" >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                        Follow Updates
                    </button>

                </div>
    {% endif %}

                {% endfor %}

            </div>

	    {% for element in prof %}


            <div class="mt-4 md:mt-6 px-10 py-3
            text-center rounded-md bg-neutral-200">
                <div class="mb-2">
                    Recommended by <span class="font-semibold">89%</span> of students
                </div>
                <div>
                    Overall Rating
		    <p class="font-bold text-xl lg:text-3xl">{{ element.overall_rating }}/5</p>
		    <p class="mt-4">based on <span class="font-semibold">{{ element.rev_count }}</span> total votes from students.</p>

                </div>
            </div>
	    {% endfor %}
        
	</section>

        <section class="mt-8">
            <span class="ml-4 py-2 px-6
            bg-[#154854] text-white rounded-full relative
            text-center">
                Top tags
            </span>
            <div class="-mt-3.5 mb-6 px-4 sm:px-8 lg:px-14
            border border-neutral-300 rounded-lg
            md:flex md:gap-x-6 md:justify-around">
                <ul class="text-center my-6">
                    <p class="font-semibold mb-2 md:text-lg">
                        Workload
                    </p>
                    <li class="border rounded-full
                    py-1 px-4 my-1.5 w-fit mx-auto">
                        Lecture heavy
                    </li>
                    <li class="border rounded-full
                    py-1 px-4 my-1.5 w-fit mx-auto">
                        Lots of homework
                    </li>
                    <li class="border rounded-full
                    py-1 px-4 my-1.5 w-fit mx-auto">
                        No curves
                    </li>
                </ul>
                <ul class="text-center my-6">
                    <p class="font-semibold mb-2 md:text-lg">
                        Personality
                    </p>
                    <li class="border rounded-full
                    py-1 px-4 my-1.5 w-fit mx-auto">
                        Passionate
                    </li>
                    <li class=" border rounded-full
                    py-1 px-4 my-1.5 w-fit mx-auto">
                        Caring
                    </li>
                </ul>
                <ul class="text-center my-6">
                    <p class="font-semibold mb-2 md:text-lg">
                        Miscellaneous
                    </p>
                    <li class=" border rounded-full
                    py-1 px-4 my-1.5 w-fit mx-auto">
                        Attendance Mandatory
                </ul>
            </div>
        </section>
        <section class="mt-8">

            <span class="ml-4 py-2 px-6
            bg-[#154854] text-white rounded-full relative
            text-center">
                Similar Professors
            </span>
            <div class="-mt-3.5 mb-6 pt-2 px-4 sm:px-8 lg:px-14
			border border-neutral-300 rounded-lg">
                <div class="mt-6 relative w-10/12 mx-auto flex flex-row"
                x-data="{swiper: null}"
                x-init="swiper = new Swiper($refs.container, {
                    loop: true,
                    slidesPerView: 1,
                    spaceBetween: 0,

                })">
                    <div class="absolute inset-y-0 left-0 z-10 flex items-center">
                        <button @click="swiper.slidePrev()" 
                        class="bg-white -ml-2 lg:-ml-4 flex justify-center items-center
                        w-10 h-10 rounded-full shadow focus:outline-none">
                            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
            
                    <div class="swiper-container" x-ref="container">
                        <div class="swiper-wrapper text-center">
                            <!-- Slides -->
			    <!-- Loop here -->
		            {% for professor in similar_professors %}
                            <div class="swiper-slide p-4">
                                <div class="flex flex-col h-full rounded-lg shadow overflow-hidden">
                                    <a href="#" class="flex-shrink-0 p-2
                                    border-neutral-300 bg-neutral-200 hover:bg-neutral-300">
					    <h3 class="font-semibold my-2">{{ professor.fname}} {{professor.lname }}</h3>
                                        <p class="mb-2">Computer Science Department</p>
					<p>Overall Rating: <span class="font-semibold">{{ professor.overall_rating}}/5</span></p>
                                    </a>
                                </div>
                            </div>
           		    {% endfor %} 
			    <!-- end loop here --> 
                        </div>
                    </div>
            
                    <div class="absolute inset-y-0 right-0 z-10 flex items-center">
                        <button @click="swiper.slideNext()" 
                        class="bg-white -mr-2 lg:-mr-4 flex justify-center items-center
                        w-10 h-10 rounded-full shadow focus:outline-none">
                            <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
	    </div>
        </section>

        <section>
            <p class="mt-16 mb-6">
                5 Total student Reviews
            </p>

            <div class="lg:w-9/12">
                <!-- <span class="ml-4 py-2 px-6
                bg-[#154854] text-white rounded-full relative
                text-center">
                    Top Rating
                </span> -->
                {% for rev in revs %}

                <div class="-mt-3.5 mb-6 py-4 px-4 sm:px-8 lg:px-14
                border border-neutral-300 rounded-lg">
                    {% if rev.student_thoughts %}
                    <p>
                        {{ rev.student_thoughts }}
                    </p>
                    {% else %}
                    <p>No comment</p>
                    {% endif %}
                    <div class="flex gap-x-7 mt-3">
                        <div>
                            <p>Quality</p>
                            <p class="ml-2"><span class="text-lg lg:text-2xl">{{ rev.teaching_quality }}</span>/5</p>
                        </div>
                        <div>
                            <p>Difficulty</p>
                            <p class="ml-2"><span class="text-lg lg:text-2xl">{{ rev.difficulty_rating }}</span>/5</p>
                        </div>
                    </div>
                    <div class="flex justify-between gap-x-14 items-center mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                        </svg>
                        <div class="flex gap-x-7 justify-end items-center">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                </svg>
                                <span class="ml-1">{{ rev.upvotes }}</span>
                            </div>
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
                                </svg>
                                <span class="ml-1">{{ rev.downvotes }}</span>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <span class="ml-4 py-2 px-6-->
<!--                bg-red-600 text-white rounded-full relative-->
<!--                text-center">-->
<!--                    Opinionated-->
<!--                </span>-->
<!--                <div class="-mt-3.5 mb-6 pt-7 pb-4 px-4 sm:px-8 lg:px-14-->
<!--                border border-neutral-300 rounded-lg">-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in justo pharetra, ultrices libero a, sollicitudin nisl. Fusce eget tellus sed sapien facilisis porttitor.-->
<!--                    </p>-->
<!--                    <div class="flex gap-x-7 mt-3">-->
<!--                        <div>-->
<!--                            <p>Quality</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">5</span>/5</p>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Difficulty</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">4</span>/5</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex justify-between gap-x-14 items-center mt-3">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />-->
<!--                        </svg>-->
<!--                        <div class="flex gap-x-7 justify-end items-center">-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">0</span>-->
<!--                            </div>-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">17</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <span class="ml-4 py-2 px-6-->
<!--                bg-[#154854] text-white rounded-full relative-->
<!--                text-center">-->
<!--                    Verified Student-->
<!--                </span>-->
<!--                <div class="-mt-3.5 mb-6 pt-7 pb-4 px-4 sm:px-8 lg:px-14-->
<!--                border border-neutral-300 rounded-lg">-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in justo pharetra, ultrices libero a, sollicitudin nisl. Fusce eget tellus sed sapien facilisis porttitor.-->
<!--                    </p>-->
<!--                    <div class="flex gap-x-7 mt-3">-->
<!--                        <div>-->
<!--                            <p>Quality</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">5</span>/5</p>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Difficulty</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">4</span>/5</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex justify-between gap-x-14 items-center mt-3">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />-->
<!--                        </svg>-->
<!--                        <div class="flex gap-x-7 justify-end items-center">-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">8</span>-->
<!--                            </div>-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">1</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button id='loadContentButton' onclick="loadContent()"-->
<!--                class="px-2 py-2 sm:px-4-->
<!--                font-normal text-white-->
<!--                rounded-md bg-[#154854] transition hover:bg-[#1B5E6D]-->
<!--                flex items-center">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />-->
<!--                    </svg>-->
<!--                    Load more reviews-->
<!--                </button>-->

<!--                <div style="display:none;"-->
<!--                class="morecontent -mt-3.5 mb-6 py-4 px-4 sm:px-8 lg:px-14-->
<!--                border border-neutral-300 rounded-lg">-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in justo pharetra, ultrices libero a, sollicitudin nisl. Fusce eget tellus sed sapien facilisis porttitor.-->
<!--                    </p>-->
<!--                    <div class="flex gap-x-7 mt-3">-->
<!--                        <div>-->
<!--                            <p>Quality</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">5</span>/5</p>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Difficulty</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">4</span>/5</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex justify-between gap-x-14 items-center mt-3">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />-->
<!--                        </svg>-->
<!--                        <div class="flex gap-x-7 justify-end items-center">-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">8</span>-->
<!--                            </div>-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">1</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div style="display:none;"-->
<!--                class="morecontent -mt-3.5 mb-6 py-4 px-4 sm:px-8 lg:px-14-->
<!--                border border-neutral-300 rounded-lg">-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in justo pharetra, ultrices libero a, sollicitudin nisl. Fusce eget tellus sed sapien facilisis porttitor.-->
<!--                    </p>-->
<!--                    <div class="flex gap-x-7 mt-3">-->
<!--                        <div>-->
<!--                            <p>Quality</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">5</span>/5</p>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Difficulty</p>-->
<!--                            <p class="ml-2"><span class="text-lg lg:text-2xl">4</span>/5</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="flex justify-between gap-x-14 items-center mt-3">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 md:h-8 md:w-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />-->
<!--                        </svg>-->
<!--                        <div class="flex gap-x-7 justify-end items-center">-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">8</span>-->
<!--                            </div>-->
<!--                            <div class="flex items-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />-->
<!--                                </svg>-->
<!--                                <span class="ml-1">1</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            {% endfor %}

            </div>
        </section>
    </div>
</body>
</html>
