<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href=" {% static '/admin/css/main.css' %}">    

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>
        function onSubmit(token) {
          document.getElementById("form-rate").submit();
        }
    </script>

    <title>RateZone</title>
</head>
<body class="px-5 pt-2 pb-6
text-xs sm:text-base lg:text-lg">
    {% include 'header.html' %}

    <div class="mt-6">
        <div class="flex gap-x-4 items-center">
            <p class="pl-2 font-normal text-2xl">You are rating Professor {{ fname }} {{ lname }}  </p>

            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_drbe9mf2.json"  background="transparent" style="width: 300px;" speed="1" loop autoplay></lottie-player>
        </div>

        <form id="form-rate" action="{% url 'rate' prof_id=pid %}" method="post" class="mt-5">
            {% csrf_token %}
            <p class="font-semibold
            text-base sm:text-lg lg:text-xl">
                First, your rating.
            </p>



            <div>
                <!-- <input style="display: none;" type="checkbox" checked id="ID_ofForm" name="D" value="{{ p.faculty_id}}"> -->

                <p class="font-normal mt-6
                text-base sm:text-lg lg:text-xl">
                    1. What is your rating for the teaching quality?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="q1" name="quality" value="1">
                    <label for="q1"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="q2" name="quality" value="2">
                    <label for="q2"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="q3" name="quality" checked value = "3">
                    <label for="q3"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="q4" name="quality" value="4">
                    <label for="q4"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="q5" name="quality" value="5">
                    <label for="q5"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8
                text-base sm:text-lg lg:text-xl">
                    2. What is your rating for the difficulty?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="d1" name="difficulty" value="1">
                    <label for="d1"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="d2" name="difficulty" value="2">
                    <label for="d2"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="d3" name="difficulty" checked value="3" >
                    <label for="d3"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="d4" name="difficulty" value="4">
                    <label for="d4"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="d5" name="difficulty" value="5">
                    <label for="d5"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8
                text-base sm:text-lg lg:text-xl">
                    3. What is your overall rating for this professor?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="r1" name="rate" value="1">
                    <label for="r1"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="r2" name="rate" value="2">
                    <label for="r2"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="r3" name="rate" checked value="3">
                    <label for="r3"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="r4" name="rate" value="4">
                    <label for="r4"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="r5" name="rate" value="5">
                    <label for="r5"
                    class="border rounded-full text-base
                    py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8
                text-base sm:text-lg lg:text-xl">
                    4. For each category, select tags you feel describe this Professor best.
                </p>
                <div class="ml-6">
                    <p class="mt-4 font-semibold text-base sm:text-lg lg:text-xl">Workload</p>
                    <div class="text-center flex flex-wrap gap-x-4">
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl1" name="workload" value ="Lots of HW">
                            <label for="wl1"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Lots of HW
                            </label><br>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl2" name="workload" value="Lecture Heavy">
                            <label for="wl2"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Lecture Heavy
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl3" name="workload" value="No Curves">
                            <label for="wl3"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                No Curves
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl4" name="workload" value="Curves">
                            <label for="wl4"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Curves
                            </label>
                        </div>
                    </div>

                    <p class="mt-4 font-semibold text-base sm:text-lg lg:text-xl">Personality</p>
                    <div class="text-center flex flex-wrap gap-x-4">
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps1" name="personality" value="Humorous">
                            <label for="ps1"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Humorous
                            </label><br>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps2" name="personality" value="Inspirational">
                            <label for="ps2"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Inspirational
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps3" name="personality" value="Caring">
                            <label for="ps3"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Caring
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps4" name="personality" value="Passionate">
                            <label for="ps4"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Passionate
                            </label>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps5" name="personality" value="Friendly">
                            <label for="ps5"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Friendly
                            </label>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps6" name="personality" value="Monotone">
                            <label for="ps6"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Monotone
                            </label>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps7" name="personality" value="Uncaring">
                            <label for="ps7"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Uncaring
                            </label>
                        </div>
                    </div>

                    <p class="mt-4 font-semibold text-base sm:text-lg lg:text-xl">Miscellaneous</p>
                    <div class="text-center flex flex-wrap gap-x-4">
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc1" name="misc" value="Attendance Mandatory">
                            <label for="misc1"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Attendance Mandatory
                            </label><br>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc2" name="misc" value="Attendance Non Mandatory">
                            <label for="misc2"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Attendance Non Mandatory
                            </label><br>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc3" name="misc" value="Textbook Required">
                            <label for="misc3"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Textbook Required
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc4" name="misc" value="Boring Lecture">
                            <label for="misc4"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Boring Lecture
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc5" name="misc" value="Easy Exams">
                            <label for="misc5"
                            class="border rounded-full text-center
                            py-2 px-4 md:py-3 md:px-8">
                                Easy Exams
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <p class="font-semibold mt-10
            text-base sm:text-lg lg:text-xl">
                Next, your thoughts.
            </p>
            <div class="mt-3 form-group form-group--textarea">
                <textarea class="w-full p-3 mt-3
                bg-neutral-100 border border-neutral-300 rounded-md"
                rows="4"
                placeholder="Anything you want to say!"  name="comment" ></textarea>
            </div>

            <div class="flex justify-center m-3">
                <button
                data-sitekey="6Lc_jHwfAAAAAHNreeb-tHPkBDAmSrdCXqH57Wz8" 
                data-callback='onSubmit' 
                data-action='submit'
                class="
                g-recaptcha
                font-normal text-white
                rounded-md bg-[#154854] transition hover:bg-[#1B5E6D]">
                    Submit my Review
                </button>
            </div>

            <div class="success-msg" style="color: #270;
            background-color: #DFF2BF; display: none;">
                <i class="fa fa-check"></i>
                Success Rate.
              </div>
        </form>
    </div>
</body>
</html>

