<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href=" {% static '/admin/css/main.css' %}">    

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.js-example-basic-single').select2();
        });

        function onSubmit(token) {
          document.getElementById("form-rate").submit();
        }
    </script>
    <title>RateZone - Rating</title>
</head>
<body class="px-5 pt-2 pb-6 text-xs sm:text-base lg:text-lg">
    {% include 'header.html' %}

    <div class="mt-6">
        <div class="flex gap-x-4 items-center">
            {% if item == 'instructor' %}
            <p class="pl-2 font-normal text-2xl">You are rating {{fname}} {{lname}}</p>
            {% elif item == 'course' %}
            <p class="pl-2 font-normal text-2xl">You are rating {{id}}: {{course_name}}</p>
            {% elif item == 'dept' %}
            <p class="pl-2 font-normal text-2xl">You are rating {{dept_name}} Department</p>
            {% endif %}

            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_drbe9mf2.json"  background="transparent" style="width: 300px;" speed="1" loop autoplay></lottie-player>
        </div>

        <form id="form-rate" action="{% url 'submit_rate' item=item id=id %}" method="POST" class="mt-5">
            {% csrf_token %}
            <p class="mb-3 font-semibold">
                First, your rating.
            </p>

            {% if item == 'instructor' %}
            <div>
                <p class="font-normal mt-6">
                    1. What course are you rating {{fname}} {{lname}} on?
                </p>
                <select class="js-example-basic-single mt-4 ml-4 p-2 bg-neutral-100 rounded-md" name="course">
                    {% for course in courses %}
                        <option value="{{course.course}}">{{course.course_name}} - {{course.course}}</option>
                    {% endfor %}
                </select>
    
                <p class="font-normal mt-6">
                    2. What is your rating for the teaching quality? (1: Bad, 5: Excellent)
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="q1" name="quality" value="1">
                    <label for="q1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="q2" name="quality" value="2">
                    <label for="q2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="q3" name="quality" checked value = "3">
                    <label for="q3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="q4" name="quality" value="4">
                    <label for="q4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="q5" name="quality" value="5">
                    <label for="q5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    3. What is your rating for the difficulty? (1: Very Easy, 5: Very Hard)
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="d1" name="difficulty" value="1">
                    <label for="d1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="d2" name="difficulty" value="2">
                    <label for="d2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="d3" name="difficulty" checked value="3" >
                    <label for="d3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="d4" name="difficulty" value="4">
                    <label for="d4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="d5" name="difficulty" value="5">
                    <label for="d5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    4. What is your overall rating for this professor?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="r1" name="rate" value="1">
                    <label for="r1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="r2" name="rate" value="2">
                    <label for="r2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="r3" name="rate" checked value="3">
                    <label for="r3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="r4" name="rate" value="4">
                    <label for="r4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="r5" name="rate" value="5">
                    <label for="r5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    4. For each category, select tags you feel describe this Professor best.
                </p>
                <div class="ml-6">
                    <p class="mt-4 font-semibold">Workload</p>
                    <div class="text-center flex flex-wrap gap-x-4">
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl1" name="workload" value ="Lots of HW">
                            <label for="wl1"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Lots of HW
                            </label><br>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl2" name="workload" value="Lecture Heavy">
                            <label for="wl2"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Lecture Heavy
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl3" name="workload" value="No Curves">
                            <label for="wl3"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                No Curves
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="wl4" name="workload" value="Curves">
                            <label for="wl4"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Curves
                            </label>
                        </div>
                    </div>

                    <p class="mt-4 font-semibold">Personality</p>
                    <div class="text-center flex flex-wrap gap-x-4">
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps1" name="personality" value="Humorous">
                            <label for="ps1"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Humorous
                            </label><br>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps2" name="personality" value="Inspirational">
                            <label for="ps2"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Inspirational
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps3" name="personality" value="Caring">
                            <label for="ps3"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Caring
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps4" name="personality" value="Passionate">
                            <label for="ps4"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Passionate
                            </label>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps5" name="personality" value="Friendly">
                            <label for="ps5"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Friendly
                            </label>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps6" name="personality" value="Monotone">
                            <label for="ps6"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Monotone
                            </label>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="ps7" name="personality" value="Uncaring">
                            <label for="ps7"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Uncaring
                            </label>
                        </div>
                    </div>

                    <p class="mt-4 font-semibold">Miscellaneous</p>
                    <div class="text-center flex flex-wrap gap-x-4">
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc1" name="misc" value="Attendance Mandatory">
                            <label for="misc1"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Attendance Mandatory
                            </label><br>
                        </div>
                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc2" name="misc" value="Textbook Required">
                            <label for="misc2"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Textbook Required
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc3" name="misc" value="Boring Lecture">
                            <label for="misc3"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Boring Lecture
                            </label>
                        </div>

                        <div class="py-2 md:py-3 my-1">
                            <input class="hidden" type="checkbox" id="misc4" name="misc" value="Easy Exams">
                            <label for="misc4"
                            class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                                Easy Exams
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% elif item == 'course' %}
            <div>
                <p class="font-normal mt-6">
                    1. What is your rating for the enjoyment? (1: Boring, 5: Enjoyable)
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="c1" name="enjoyment" value="1">
                    <label for="c1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="c2" name="enjoyment" value="2">
                    <label for="c2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="c3" name="enjoyment" value="3" checked>
                    <label for="c3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="c4" name="enjoyment" value="4">
                    <label for="c4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="c5" name="enjoyment" value="5">
                    <label for="c5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    2. What is your rating for the effort required? (1: Easy, 5: Tough)
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="d1" name="effort" value="1">
                    <label for="d1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="d2" name="effort" value="2">
                    <label for="d2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="d3" name="effort" value="3" checked>
                    <label for="d3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="d4" name="effort" value="4">
                    <label for="d4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="d5" name="effort" value="5">
                    <label for="d5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    3. What is your overall rating for this course?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="r1" name="rate" value="1">
                    <label for="r1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="r2" name="rate" value="2">
                    <label for="r2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="r3" name="rate" value="3" checked>
                    <label for="r3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="r4" name="rate" value="4">
                    <label for="r4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="r5" name="rate" value="5">
                    <label for="r5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>
                <p class="font-normal mt-8">
                    4. Select tags you feel describe this course best.
                </p>
                <div class="mt-4 ml-6 text-center flex flex-wrap gap-x-4">
                    <div class="py-2 md:py-3 my-1">
                        <input class="hidden" type="checkbox" id="tag1" name="tag" value="Interesting Material">
                        <label for="tag1"
                        class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                            Interesting Material
                        </label><br>
                    </div>
                    <div class="py-2 md:py-3 my-1">
                        <input class="hidden" type="checkbox" id="tag2" name="tag" value="High Level">
                        <label for="tag2"
                        class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                            High Level
                        </label><br>
                    </div>

                    <div class="py-2 md:py-3 my-1">
                        <input class="hidden" type="checkbox" id="tag3" name="tag" value="Useful Course">
                        <label for="tag3"
                        class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                            Useful Course
                        </label>
                    </div>

                    <div class="py-2 md:py-3 my-1">
                        <input class="hidden" type="checkbox" id="tag4" name="tag" value="Boring Lecture">
                        <label for="tag4"
                        class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                            Boring Lecture
                        </label>
                    </div>

                    <div class="py-2 md:py-3 my-1">
                        <input class="hidden" type="checkbox" id="tag5" name="tag" value="Heavy Workload">
                        <label for="tag5"
                        class="bg-neutral-100 border rounded-full text-center py-2 px-4 md:py-3 md:px-8">
                            Heavy Workload
                        </label>
                    </div>
                </div>
            </div>
            {% elif item == 'dept' %}
            <div>
                <p class="font-normal mt-8">
                    1. What is your rating for administrative support?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="s1" name="support" value="1">
                    <label for="s1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="s2" name="support" value="2">
                    <label for="s2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="s3" name="support" value="3" checked>
                    <label for="s3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="s4" name="support" value="4">
                    <label for="s4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="s5" name="support" value="5">
                    <label for="s5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    2. What is your rating for department's and club's activities?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="a1" name="act" value="1">
                    <label for="a1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="a2" name="act" value="2">
                    <label for="a2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="a3" name="act" value="3" checked>
                    <label for="a3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="a4" name="act" value="4">
                    <label for="a4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="a5" name="act" value="5">
                    <label for="a5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>

                <p class="font-normal mt-8">
                    3. What is your overall rating for this department?
                </p>
                <div class="mt-3 ml-6 flex gap-x-2">
                    <input class="hidden" type="radio" id="r1" name="rate" value="1">
                    <label for="r1"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        1
                    </label><br>

                    <input class="hidden" type="radio" id="r2" name="rate" value="2">
                    <label for="r2"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        2
                    </label><br>

                    <input class="hidden" type="radio" id="r3" name="rate" value="3" checked>
                    <label for="r3"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        3
                    </label><br>

                    <input class="hidden" type="radio" id="r4" name="rate" value="4">
                    <label for="r4"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        4
                    </label><br>

                    <input class="hidden" type="radio" id="r5" name="rate" value="5">
                    <label for="r5"
                    class="bg-neutral-100 border rounded-full py-1 px-4 md:px-8">
                        5
                    </label><br>
                </div>
            </div>
            {% endif %}

            <p class="font-semibold mt-10">
                Next, your thoughts.
            </p>
            <div class="mt-3 form-group form-group--textarea">
                <textarea class="w-full p-3 mt-3 bg-neutral-100 border border-neutral-300 rounded-md"
                rows="4"
                placeholder="Anything you want to say!"
                name="comment"></textarea>
            </div>

            <div class="flex justify-center m-3">
                <button
                data-sitekey="6Lc_jHwfAAAAAHNreeb-tHPkBDAmSrdCXqH57Wz8" 
                data-callback='onSubmit' 
                data-action='submit'
                class="
                g-recaptcha
                font-normal text-white px-4 py-2
                rounded-md bg-[#154854] transition hover:bg-[#1B5E6D]">
                    Submit my Review
                </button>
            </div>

            <div class="success-msg" style="color: #270;
            background-color: #DFF2BF; display: none;">
                <i class="fa fa-check"></i>
                Success Rate.
            </div>
        </form>
    </div>
</body>
</html>
