<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href=" {% static '/admin/css/main.css' %}">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- <title>RMP</title> -->
</head>
<body class="px-5 pt-2 pb-6
text-xs sm:text-base lg:text-lg">
    {% include 'header.html' %}

    <div class="mt-6">
        <div class="md:flex md:gap-x-3 md:items-center justify-center">
            <div class="overflow-hidden">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_la3rbh6t.json" background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
            </div>
            <div>
                <h1 class="text-3xl sm:text-5xl font-medium text-center md:text-left">
                    Thank you for your rating!
                </h1>
                <p class="mt-6 text-xl sm:text-2xl text-center md:text-left">
                    We will update the page soon!
                </p>        
            </div>
        </div>
    </div>
    
    <div class="mt-4 flex justify-center gap-x-6">
        <a href="{% url 'professor' prof_id=prof %}"
        class="px-4 py-2 sm:px-6
        font-normal text-white text-center
        rounded-md bg-[#154854] transition hover:bg-[#1B5E6D]">
            Return to Professor Page
        </a>
        <a href="{% url 'home' %}"
        class="px-4 py-2 sm:px-6
        font-normal text-white text-center
        rounded-md bg-[#154854] transition hover:bg-[#1B5E6D]">
            Return to Home Page
        </a>
    </div>
</body>
</html>
