<div class="w-full">
    <!-- <p class="mt-4 mb-4">
        <span class="font-medium">{{count}}</span> total search results
    </p> -->

    <div id="Professors">
        {% for e in employee %}
            {% if next == 'f' %}
            <a href="{% url 'professor' prof_id=e.employee %}">
            {% else %}
            <a href="{% url 'rate_page' prof_id=e.employee %}">
            {% endif %}
                <div class="my-4 py-3 border border-gray-300 rounded-lg
                flex gap-x-7 px-7
                hover:bg-neutral-300">
                    <span class="w-3/4">
                        <span class="font-medium">{{e.fname}} {{e.lname}}</span><br>
                        {{e.dept_name}} Department<br>
                        Kuwait University
                    </span>
                    <div class="w-1/4">
                        <p>Overall Rating</p>
                        <p class="md:ml-2"><span class="text-2xl">{{e.overall_rating | default_if_none:"NA"}}</span>/5</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div id="Courses">
        {% for c in courses %}
        <a href="{% url 'course' id=c.course %}">
            <div class="my-4 py-3 border border-gray-300 rounded-lg
            flex gap-x-4 justify-between px-12
            hover:bg-neutral-300">
                <span>
                    <span class="font-medium">{{c.course}}: {{c.course_name}}</span><br>
                    {{c.dept_name}} department<br>
                    Kuwait University
                </span>
                <div>
                    <p>Overall Rating</p>
                    <p class="md:ml-2"><span class="text-2xl">{{c.overall_rating | default_if_none:"NA"}}</span>/5</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>