<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../static/admin/js/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>
    <link rel="stylesheet" href="../static/admin/css/main.css">
    <!-- <title>RMP</title> -->
</head>
<body class="px-5 pt-2 pb-6
text-xs sm:text-base lg:text-lg">
    {% include 'header.html' %}

    <div class="mt-10">
        <div class="px-10 mb-10 mt-4">
            <h1 class="text-3xl md:text-5xl font-medium text-center">
                Search for a Professor, TA, or a Course.
            </h1>

            <form class="grid grid-cols-2 gap-2 mx-auto max-w-xl mt-6">
                <div>
                    <input class="hidden" id="radio_1" type="radio" name="radio" checked>
                    <label class="flex flex-col bg-white
                    p-3 border-2 border-neutral-300 rounded-md
                    cursor-pointer" for="radio_1">
                        <span class="text-center text-xl font-medium">
                            Find
                        </span>
                    </label>
                </div>
                <div>
                    <input class="hidden" id="radio_2" type="radio" name="radio">
                    <label class="flex flex-col bg-white
                    p-3 border-2 border-neutral-300 rounded-md
                    cursor-pointer" for="radio_2">
                        <span class="text-center text-xl font-medium">
                            Rate
                        </span>
                    </label>
                </div>
            </form>

            <div class="grid grid-cols-4 sm:grid-cols-10 gap-x-2
            mx-auto max-w-xl mt-8" x-data="autoComplete()">
                <div class="flex flex-col col-span-3 sm:col-span-9"
                @click.away="active=false; cursorIndex=-1" @keydown.escape="active=false; cursorIndex=-1"
                @keydown.arrow-down="moveDownList()" @keydown.arrow-up="moveUpList()" @keydown.enter="console.log('directly linking to: ', inputValue)">
                    <input type="text" class="bg-gray-100 rounded focus:bg-white border w-full p-3 text-base sm:text-xl" placeholder="Keywords"
                    x-model="inputValue" @focus="active=true" @input.debounce.250="$dispatch('input-change', inputValue)"/>
                    <div class="relative" x-show="suggestions.length > 1 && active" x-cloak @input-change.window="active=true;cursorIndex=-1;updateSuggestions($event.detail)"
                    x-show="open" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 transform scale-y-90"
                    x-transition:enter-end="opacity-100 transform scale-y-100" x-transition:leave="transition ease-in duration-100"
                    x-transition:leave-start="opacity-100 transform scale-y-100" x-transition:leave-end="opacity-0 transform scale-y-90">
                        <div class="absolute top-100 mt-1 w-full border bg-white shadow-xl rounded">
                            <div class="p-3">
                                <div class="divide-y" x-ref="list">
                                    <template x-for="(suggestion, index) in suggestions" :key="index">
                                        <a x-bind:active="false"
                                        x-bind:href="suggestion.item.directLink ? `{% url 'professor' %}`:`{% url 'searchResults' %}`"
                                        x-bind:class="{'p-2 flex block w-full rounded hover:bg-neutral-300': true, 'bg-[#F9C041] hover:bg-[#F9C041]--replace-with-icon-class!':suggestion.active}">
                                            <span x-text="suggestion.item.name"></span>
                                            <svg x-show="suggestion.item.directLink" xmlns="http://www.w3.org/2000/svg" class="ml-2 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                                                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                                            </svg>
                                        </a>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col col-span-1
                p-3 text-base sm:text-xl border rounded">
                    <button @click="location.href = `{% url 'searchResults' %}`;">Go</button>
                </div>
        </div>
    </div>
</body>
</html>
